.cartdetailsmain {
  margin-top: 30px;
}

.cartdetailscase {
  margin-top: 40px;
}

.back-case span {
  margin-left: 10px;
  color: black;
}

.cartdetailsleft {
  width: 65%;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: white;
}

.cartdetailsleft.admin {
  width: 100% !important;
}

.cartdetailsleft.admin .adminuser-case {
  margin-top: 40px;
}

.cart-box-item {
  height: 150px;
  width: 100%;
  margin-top: 30px;
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.205);
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
}

.cart-header a {
  color: #fec52a;
  font-size: 14px;
  margin-right: 10px;
}

.cart-box-orders {
  height: 130px !important;
  cursor: pointer;
}

.cart-header h6 {
  margin: 0px;
}

.order-tab-case h6 {
  font-size: 14px;
  font-weight: 500;
  margin: 0px;
  margin-right: 10px;
  cursor: pointer;
}

.order-tab-case h6.active {
  color: #fec52a !important;
  font-weight: 600 !important;
}

.cartdetailsleftimg {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-right: 10px;
}

.cartdetailsleftimg img {
  width: 80%;
  object-fit: cover;
}

.cartdetailslefttext h1 {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  color: black;
}

.cartdeleteicon {
  color: black;
}

.cartdetailslefttext span {
  font-size: 14px;
  font-weight: 400;
  color: black;
}

.cart-box-left-botom span {
  font-size: 10px;
  font-weight: 500;
  color: black;
  cursor: pointer;
}

.cart-box-right-box button:first-of-type {
  background-color: rgba(0, 0, 0, 0.507);
  color: white;
}

.cart-box-right-box button {
  padding: 8px 14px;
  border-radius: 7px;
  font-size: 12px;
  border: none;
  background-color: black;
  color: white;
}

.cart-box-right-box span {
  margin: 0px 10px;
  font-size: 13px;
  color: black;
}

.cartdetailsright {
  width: 30%;
}

.cartdetailsright {
  padding: 10px;
  border-radius: 10px;
}

.cart-box-right-top {
  color: black;
}

.cartdetailsright > span {
  font-size: 14px;
  font-weight: 550;
  color: black;
}

.cartdetailsrightspan {
  margin: 10px 0px;
}

.cartdetailsamount {
  border-top: 1px solid rgba(0, 0, 0, 0.349);
  border-bottom: 1px solid rgba(0, 0, 0, 0.418);
  padding: 8px 0px;
  margin-top: 8px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 550;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartdetailsbuttondiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0px;
}

.cartdetailsbuttondiv h5 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  margin: 10px 0px;
  color: black;
}

.cartdetailsbuttondiv button {
  background: rgba(240, 233, 171, 0.99);
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 600;
  color: black;
}

.cartdetailsbuttondiv button:first-of-type {
  background: black;
  color: white;
}

@media screen and (max-width: 755px) {
  .cartdetailscase {
    flex-direction: column;
  }

  .cartdetailsleft {
    width: 100%;
  }

  .cartdetailsright {
    margin: 20px 0px;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .cart-box-right-box button {
    padding: 5px 8px;
  }
}

.cartdetailsmain {
  width: 95%;
  margin-top: 100px;
}
